* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul  {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
}

.activities, .routines, .my-routine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.activities-title, .routines-title {
    text-align: center;
}

.activity {
    border: solid black 1px;
    width: 20rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create-activity-form {
    padding: 1rem;
    width: 33vw;
    border: solid black 1px; 
    margin-bottom: 1rem;
}

button {
    margin: 1rem;
}

input {
    margin-left: .5rem;
    margin-bottom: .5rem;
    width: auto;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.form {
    text-align: center;
}

.routine {
    border: solid black 1px;
    width: 20rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activity-in-routine {
    border: solid black 1px;
    padding-left: 1rem;
    margin-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-routine {
    border: solid black 1px;
    padding: 1rem;
    margin-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    text-align: center;
    align-items: center;
}

.my-routine {
    text-align: center;
}